{% extends main.html %}

{% block content %}

  <center><h1>About</h1></center>

  <div class="row">
    <div class="col s12 m6">
      <img src="../static/images/slide-2.jpg" class="img_div_fit"/>
    </div>
    <div class="col s12 m6">
      <p>
        Student opinion is a critical force in shaping and transforming education system. Student opinion polls and surveys are regularly conducted in many colleges to analyse their feedback on the current curriculum and iterate it to make it more productive and resourceful for them. Feedback portal gives the students an opportunity for their voice to be heard and to receive feedback about their opinions. They also help guide policy by giving decision-makers impartial and unbiased information about what the student wants. Also through this project, we will learn about the new web technologies and build a web application based on these frameworks.<br/><br/>
The specification design document will detail the design of a feedback portal for effective and transparent analysis of student’s opinion. This feedback portal will enable any student on the website to give suggestions and opinion about their courses in an anonymous manner. The obtained results can be used by college administration for improving their curriculum.
      </p>
    </div>
  </div>

{% end %}
