{% extends main.html %}

{% block content %}

  <center><h1>Contact Details</h1></center>

  <div class="row">
    <div class="col s12 m6 offset-m1">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=VIT+University&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CVIT+University" alt="Google Map of VIT University" class="img_div_fit"/>
    </div>
    <div class="col s12 m4 offset-m1">
      <h5 class="mb-0">Phone:</h5>
      <div class="mb-4">+91;9790023742</div>
      <h5 class="mb-0">Email:</h5>
      <div class="mb-4">
      <a href="mailto:name@example.com">ujjwal@ayyangar.net</a>
      </div>
      <h5 class="mb-0">Address:</h5>
      <div class="mb-4">
      H Block
      <br>
      VIT University, Tamil Nadu
      </div>
    </div>
  </div>

{% end %}
